In [1]:
import pandas as pd
import numpy as np

# 多行索引

In [3]:
df = pd.read_csv('D:\\vscode_code\\数据集\\learn_pandas.csv')

In [ ]:
np.random.seed(0)
# MultiIndex 类
#创建一个行索引
multi_index = pd.MultiIndex.from_product(
    [list('ABCD'),df.Gender.unique()],
    names = ('School','Gender')
)
multi_index

MultiIndex([('A', 'Female'),
            ('A',   'Male'),
            ('B', 'Female'),
            ('B',   'Male'),
            ('C', 'Female'),
            ('C',   'Male'),
            ('D', 'Female'),
            ('D',   'Male')],
           names=['School', 'Gender'])

In [ ]:
# 创建一个列索引
multi_column = pd.MultiIndex.from_product(
    [['Height','Weight'],df.Grade.unique()],
    names = ('test','Grade')
)
multi_column

MultiIndex([('Height',  'Freshman'),
            ('Height',    'Senior'),
            ('Height', 'Sophomore'),
            ('Height',    'Junior'),
            ('Weight',  'Freshman'),
            ('Weight',    'Senior'),
            ('Weight', 'Sophomore'),
            ('Weight',    'Junior')],
           names=['test', 'Grade'])

In [8]:
# 创建一个DF，将multi_index、multi_column组装进去
df_multi = pd.DataFrame(np.c_[(np.random.randn(8,4)*5 + 163).tolist(),(np.random.randn(8,4)*5 +65).tolist()],
                        index = multi_index,
                        columns  = multi_column).round(1)
df_multi

test            Height                           Weight                   \
Grade         Freshman Senior Sophomore Junior Freshman Senior Sophomore
School Gender
A      Female    163.9  161.0     154.8  165.3     65.1   73.9      65.6
       Male      158.5  163.3     166.6  163.6     74.4   58.3      58.6
B      Female    168.7  156.8     165.0  159.6     59.1   74.7      62.9
       Male      158.6  160.1     161.4  163.3     74.6   72.4      74.3
C      Female    157.2  167.5     165.3  155.3     60.7   74.6      63.7
       Male      170.4  172.5     168.9  162.1     69.7   64.2      68.1
D      Female    157.6  168.3     161.0  169.1     66.9   59.5      66.5
       Male      164.0  167.9     164.8  166.5     61.5   64.3      62.8

test
Grade         Junior
School Gender
A      Female   67.0
       Male     69.8
B      Female   61.3
       Male     69.5
C      Female   69.0
       Male     69.6
D      Female   71.6
       Male     74.2

In [9]:
# 查看行索引的名称
# index属性:查看行索引
# names: 索引的名称
df_multi.index.names

FrozenList(['School', 'Gender'])

In [ ]:
# 查看列索引的名称
df_multi.columns.names

FrozenList(['test', 'Grade'])

In [ ]:
# 查看行索引的值
df_multi.index.values

array([('A', 'Female'), ('A', 'Male'), ('B', 'Female'), ('B', 'Male'),
       ('C', 'Female'), ('C', 'Male'), ('D', 'Female'), ('D', 'Male')],
      dtype=object)

In [ ]:
# 查看列索引的值
df_multi.columns.values

array([('Height', 'Freshman'), ('Height', 'Senior'),
       ('Height', 'Sophomore'), ('Height', 'Junior'),
       ('Weight', 'Freshman'), ('Weight', 'Senior'),
       ('Weight', 'Sophomore'), ('Weight', 'Junior')], dtype=object)

In [13]:
#获取行索引的第一层的索引
# get_level_values
df_multi.index.get_level_values(0)

Index(['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'], dtype='object', name='School')

# 多层索引的loc索引

In [14]:
df_demo = df[['School','Grade']]
df_demo.head()

  School      Grade
0      A   Freshman
1      B   Freshman
2      A     Senior
3      C  Sophomore
4      C  Sophomore

In [15]:
df_multi = df.set_index(['School','Grade'])
df_multi.head()

                            Name  Gender  Height  Weight Transfer  \
School Grade
A      Freshman     Gaopeng Yang  Female   158.9    46.0        N
B      Freshman   Changqiang You    Male   166.5    70.0        N
A      Senior            Mei Sun    Male   188.9    89.0        N
C      Sophomore    Xiaojuan Sun  Female     NaN    41.0        N
       Sophomore     Gaojuan You    Male   174.0    74.0        N

                  Test_Number  Test_Date Time_Record
School Grade
A      Freshman             1  2019/10/5     0:04:34
B      Freshman             1   2019/9/4     0:04:20
A      Senior               2  2019/9/12     0:05:22
C      Sophomore            2   2020/1/3     0:04:08
       Sophomore            2  2019/11/6     0:05:22

In [17]:
df_multi = df_multi.sort_index()
df_multi

                            Name  Gender  Height  Weight Transfer  \
School Grade
A      Freshman     Gaopeng Yang  Female   158.9    46.0        N
       Freshman        Qiang Chu  Female   162.5    52.0        N
       Freshman    Xiaopeng Zhou    Male   174.1    74.0        N
       Freshman       Yanpeng Lv    Male     NaN    65.0        N
       Freshman    Xiaopeng Zhao  Female   161.0    53.0        N
...                          ...     ...     ...     ...      ...
D      Sophomore       Feng Qian  Female   156.4    43.0        N
       Sophomore          Li Qin    Male     NaN    76.0        N
       Sophomore     Yanjuan You    Male     NaN    55.0        N
       Sophomore  Xiaoqiang Qian    Male   170.5    73.0        N
       Sophomore     Chunpeng Lv    Male   155.7    51.0        N

                  Test_Number   Test_Date Time_Record
School Grade
A      Freshman             1   2019/10/5     0:04:34
       Freshman             1  2019/12/12     0:03:53
       Freshman             1   2019/9/29     0:05:16
       Freshman             1  2019/11/17     0:04:13
       Freshman             3   2019/9/25     0:05:13
...                       ...         ...         ...
D      Sophomore            2   2019/11/5     0:05:07
       Sophomore            3    2020/1/7     0:05:19
       Sophomore            1  2019/11/23     0:03:50
       Sophomore            3   2019/10/3     0:04:11
       Sophomore            1   2019/11/6     0:05:05

[200 rows x 8 columns]

In [ ]:
# 查看特定行的值
df_multi.loc[('A','Freshman')].head()

                          Name  Gender  Height  Weight Transfer  Test_Number  \
School Grade
A      Freshman   Gaopeng Yang  Female   158.9    46.0        N            1
       Freshman      Qiang Chu  Female   162.5    52.0        N            1
       Freshman  Xiaopeng Zhou    Male   174.1    74.0        N            1
       Freshman     Yanpeng Lv    Male     NaN    65.0        N            1
       Freshman  Xiaopeng Zhao  Female   161.0    53.0        N            3

                  Test_Date Time_Record
School Grade
A      Freshman   2019/10/5     0:04:34
       Freshman  2019/12/12     0:03:53
       Freshman   2019/9/29     0:05:16
       Freshman  2019/11/17     0:04:13
       Freshman   2019/9/25     0:05:13

In [20]:
# 选择A和B中的Freshman
df_multi.loc[[('A','Freshman'),('B','Sophomore')]].head(20)

                           Name  Gender  Height  Weight Transfer  Test_Number  \
School Grade
A      Freshman    Gaopeng Yang  Female   158.9    46.0        N            1
       Freshman       Qiang Chu  Female   162.5    52.0        N            1
       Freshman   Xiaopeng Zhou    Male   174.1    74.0        N            1
       Freshman      Yanpeng Lv    Male     NaN    65.0        N            1
       Freshman   Xiaopeng Zhao  Female   161.0    53.0        N            3
       Freshman     Chunli Zhao    Male   180.2    83.0        N            1
       Freshman      Peng Zhang  Female   163.1     NaN        N            3
       Freshman    Xiaoquan Sun  Female   154.6    40.0        N            3
       Freshman     Chunmei Shi  Female   164.9    52.0        N            1
       Freshman    Xiaomei Yang  Female   159.3    49.0        N            1
       Freshman   Xiaofeng Qian  Female   158.5    49.0        N            1
       Freshman     Changmei Lv    Male   172.2    75.0        N            1
       Freshman      Qiang Feng    Male   178.9    80.0        N            2
B      Sophomore    Changmei Xu  Female   151.6    43.0        N            2
       Sophomore   Xiaopeng Qin    Male   172.8     NaN        N            1
       Sophomore         Mei Xu  Female   154.2    39.0        N            2
       Sophomore    Xiaoli Zhou  Female   166.8    55.0        N            1
       Sophomore       Peng Han  Female   147.8    34.0      NaN            2

                   Test_Date Time_Record
School Grade
A      Freshman    2019/10/5     0:04:34
       Freshman   2019/12/12     0:03:53
       Freshman    2019/9/29     0:05:16
       Freshman   2019/11/17     0:04:13
       Freshman    2019/9/25     0:05:13
       Freshman     2020/1/7     0:04:33
       Freshman    2019/9/23     0:04:31
       Freshman   2019/11/12     0:04:05
       Freshman     2019/9/8     0:03:33
       Freshman    2019/9/17     0:04:22
       Freshman   2019/10/19     0:05:26
       Freshman    2019/10/6     0:04:15
       Freshman    2019/12/6     0:04:23
B      Sophomore    2020/1/3     0:04:28
       Sophomore  2019/12/23     0:05:29
       Sophomore   2019/11/5     0:04:29
       Sophomore  2019/10/28     0:05:24
       Sophomore   2019/9/19     0:03:32

In [21]:
#筛选出体重大于50
df_multi.loc[df_multi.Weight > 50].head()

                          Name  Gender  Height  Weight Transfer  Test_Number  \
School Grade
A      Freshman      Qiang Chu  Female   162.5    52.0        N            1
       Freshman  Xiaopeng Zhou    Male   174.1    74.0        N            1
       Freshman     Yanpeng Lv    Male     NaN    65.0        N            1
       Freshman  Xiaopeng Zhao  Female   161.0    53.0        N            3
       Freshman    Chunli Zhao    Male   180.2    83.0        N            1

                  Test_Date Time_Record
School Grade
A      Freshman  2019/12/12     0:03:53
       Freshman   2019/9/29     0:05:16
       Freshman  2019/11/17     0:04:13
       Freshman   2019/9/25     0:05:13
       Freshman    2020/1/7     0:04:33

In [22]:
#查询行索引第一层为A，第二层为Freshman
df_multi.loc[lambda x:('A','Freshman')]

                          Name  Gender  Height  Weight Transfer  Test_Number  \
School Grade
A      Freshman   Gaopeng Yang  Female   158.9    46.0        N            1
       Freshman      Qiang Chu  Female   162.5    52.0        N            1
       Freshman  Xiaopeng Zhou    Male   174.1    74.0        N            1
       Freshman     Yanpeng Lv    Male     NaN    65.0        N            1
       Freshman  Xiaopeng Zhao  Female   161.0    53.0        N            3
       Freshman    Chunli Zhao    Male   180.2    83.0        N            1
       Freshman     Peng Zhang  Female   163.1     NaN        N            3
       Freshman   Xiaoquan Sun  Female   154.6    40.0        N            3
       Freshman    Chunmei Shi  Female   164.9    52.0        N            1
       Freshman   Xiaomei Yang  Female   159.3    49.0        N            1
       Freshman  Xiaofeng Qian  Female   158.5    49.0        N            1
       Freshman    Changmei Lv    Male   172.2    75.0        N            1
       Freshman     Qiang Feng    Male   178.9    80.0        N            2

                  Test_Date Time_Record
School Grade
A      Freshman   2019/10/5     0:04:34
       Freshman  2019/12/12     0:03:53
       Freshman   2019/9/29     0:05:16
       Freshman  2019/11/17     0:04:13
       Freshman   2019/9/25     0:05:13
       Freshman    2020/1/7     0:04:33
       Freshman   2019/9/23     0:04:31
       Freshman  2019/11/12     0:04:05
       Freshman    2019/9/8     0:03:33
       Freshman   2019/9/17     0:04:22
       Freshman  2019/10/19     0:05:26
       Freshman   2019/10/6     0:04:15
       Freshman   2019/12/6     0:04:23

# 多级索引的构造

In [23]:
my_tuple = [('a','cat'),('a','dog'),('b','cat'),('b','dog')]
my_tuple

[('a', 'cat'), ('a', 'dog'), ('b', 'cat'), ('b', 'dog')]

In [ ]:
# from_tuples:传入的是列表，其元素使元组
pd.MultiIndex.from_tuples(my_tuple,names = ['first','second'])

MultiIndex([('a', 'cat'),
            ('a', 'dog'),
            ('b', 'cat'),
            ('b', 'dog')],
           names=['first', 'second'])

In [25]:
# from_arrays()传入的是列表
my_array = [list('aabb'),['cat','dog']*2]
my_array

[['a', 'a', 'b', 'b'], ['cat', 'dog', 'cat', 'dog']]

In [26]:
pd.MultiIndex.from_arrays(my_array,names = ['first','second'])

MultiIndex([('a', 'cat'),
            ('a', 'dog'),
            ('b', 'cat'),
            ('b', 'dog')],
           names=['first', 'second'])

In [27]:
# from_product() 指定的多个列表的笛卡尔积进行构造
my_list1 = ['a','b']
my_list2 = ['cat','dog']

In [28]:
pd.MultiIndex.from_product(
    [my_list1,
     my_list2],
     names = ['first','second']
)

MultiIndex([('a', 'cat'),
            ('a', 'dog'),
            ('b', 'cat'),
            ('b', 'dog')],
           names=['first', 'second'])

# 索引的常用方法

### 索引的交换和删除

In [ ]:
# s索引层的交换
# 交换的轴是哪一个，要么是行索引，要么是列索引
# swaplevel()
df_ex.swaplevel(0,2,axis = 1).head() #交换表中列索引的第一列和第三列

In [ ]:
# reorder_levels()
# 传入索引的位置，并进行交换
df_ex.reorder_levels([2,0,1],axis = 0).head() #将索引的0,1,2换位2,0,1

In [ ]:
#删除某一层的索引
# droplevel()
df_ex.droplevel(1,axis = 1) #删除列的第二行

In [ ]:
# 索引属性的修改
# rename_axis() 对索引层的名字进行修改,传入字典
df_ex.rename_axis(index = {'test1':'Y'},
                  columns = {'test4':'X'}).head()#将行的test1名字改为Y，列的test4名字改为X

In [31]:
# 索引的重置
df_new = pd.DataFrame(
    {'A':list('aacd'),
     'B':list('QWER'),
     'C':[1,2,3,4]}
)
df_new

   A  B  C
0  a  Q  1
1  a  W  2
2  c  E  3
3  d  R  4

In [32]:
df_new.set_index('A')

   B  C
A
a  Q  1
a  W  2
c  E  3
d  R  4

In [ ]:
# append 表示是否保持原本的索引，True 保留，False 不保留
df_new.set_index('A',append = True)

     B  C
  A
0 a  Q  1
1 a  W  2
2 c  E  3
3 d  R  4

In [35]:
df_new.set_index(['A','B'])

     C
A B
a Q  1
  W  2
c E  3
d R  4

In [ ]:
# 索引的变形
df_reindex = pd.DataFrame({
    'Weight':[60,70,80],
    'Height':[170,176,180]},
    index = ['1001','1002','1003']
)
df_reindex

      Weight  Height
1001      60     170
1002      70     176
1003      80     180

In [38]:
df_reindex.reindex(index = ['1001','1002','1003','1004'],
                   columns = ['Weight','X'])

      Weight   X
1001    60.0 NaN
1002    70.0 NaN
1003    80.0 NaN
1004     NaN NaN